ul
    margin: 0.8rem 0
    padding: 0

    .liTarefa 
        display: flex
        justify-content: space-between
        width: 100%

        .divName
            width: 40%

        .divValue
            width: 25%

        .liButtons
            display: flex
            justify-content: space-between
            width: 35%
            
            button
                font-size: 10px
                padding: 0 2px
