@mixin display-direc($display, $flex-direc, $just-cont, $align-item)
    display: $display
    flex-direction: $flex-direc
    justify-content: $just-cont
    align-items: $align-item

@mixin size--marg($width, $height, $margin, $padding)
    width: $width
    height: $height
    margin: $margin
    padding: $padding

body
    @include display-direc(flex, null, center, null)
    @include size--marg(null, 100vh, 0, 0)
    background-color: rgb(6, 81, 60)

.container
    @include display-direc(flex, column , null , null )
    
    h1
        margin: 0
        text-align: center
        color: white

    .create-item-area
        @include display-direc(flex, column , null , null )
        @include size--marg(262px, null, 20px 0, 10px)
        background-color: aliceblue
        border-radius: 10px

        .name-and-position
            @include display-direc(flex, null, space-between, null)

            .name-area
                width: 70%

            div
                @include display-direc(flex, column, null, null)
                @include size--marg(24%, null, 0 0 10px 0, 0)

        .value-and-amount
            @include display-direc(flex, null, space-between, null)

            div
                @include display-direc(flex, column, null, null)
                @include size--marg(47%, null, 0 0 10px 0, 0)

        .add-and-edit
            @include display-direc(flex, null, space-between, null)
            width: 100%

            .add
                @include size--marg(100%, null, 5px 0, 2px)

            .edit, .cancel
                @include size--marg(47%, null, 5px 0, 2px)

.search-bar
    @include display-direc(flex, null, space-around, null)
    padding: 10px 5px 5px
    background-color: aliceblue
    border-radius: 5px 5px 0 0

.container-list
    @include size--marg(262px, null, 0, 5px 10px 10px 10px)
    background-color: aliceblue
    border-radius: 0 0 5px 5px

    .labels
        display: flex
        padding: 0 2px
        border: 1px solid black
        border-bottom: none
        border-radius: 5px 5px 0 0

        .labelName, .labelQt, .labelValue, .labelEdit, .labelDelete
            font-size: 10px
            padding: 1px
            border-right: 1px solid black
        
        .labelName
            width: 30%
        
        .labelQt
            width: 20%

        .labelValue
            width: 25%

        .labelEdit
            width: 12.5%
            
        .labelDelete
            width: 12.5%
            border: none

    .list
        @include display-direc(flex, column, null, null)
        @include size--marg(null, 200px, 0, 2px 2px)
        background-color: #dadada
        border: 1px solid black
        overflow-y: auto
        white-space: nowrap

        &::-webkit-scrollbar
            width: 5px

        &::-webkit-scrollbar-thumb
            background-color: #ceccee

        .liItem 
            @include display-direc(flex, null, null, center)
            @include size--marg(100%, 25px, 5px 0, 2px 0)
            background: #fff
            border-radius: 5px
            transition: all 1s

            .div-name
                @include display-direc(flex, null, null, center)
                @include size--marg(30%, 16px, 0 7px, 0)
                overflow-x: auto
                overflow-y: hidden
                white-space: nowrap

                &::-webkit-scrollbar
                    height: 2px

                &::-webkit-scrollbar-thumb
                    background-color: #ceccee

            .div-qt
                width: 20%
                font-size: 13px

            .div-container-value
                @include display-direc(flex, null, null, center)
                @include size--marg(25%, 25px, 0, 0)

                .div-money
                    margin-right: 1px
                    font-size: 13px

                .div-value
                    @include display-direc(flex, null, null, center)
                    @include size--marg(60%, 16px, 0, 0)
                    font-size: 13px
                    overflow-x: auto
                    overflow-y: hidden
                    white-space: nowrap

                    &::-webkit-scrollbar
                        height: 2px

                    &::-webkit-scrollbar-thumb
                        background-color: #ceccee

            .div-buttons
                display: flex
                width: 25%
                
                button
                    @include size--marg(40%, 20px, 0, 0 2px)
                    font-size: 10px

                .editar
                    margin-right: 15%

                .apagar
                    width: 40%
                    
.total-value
    padding: 5px 5px
    border: 1px solid black
    border-top: none
    border-radius: 0 0 5px 5px