.container .search-and-list, .container .create-item-area {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7960784314), 1px 1px 5px rgba(0, 0, 0, 0.3450980392) inset;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container .create-item-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px 0;
  padding: 10px;
}
.container .create-item-area .name-and-position {
  display: flex;
  justify-content: space-between;
}
.container .create-item-area .name-and-position .name-area {
  width: 70%;
}
.container .create-item-area .name-and-position div {
  display: flex;
  flex-direction: column;
  width: 24%;
  margin: 0 0 10px 0;
  padding: 0;
}
.container .create-item-area .value-and-amount {
  display: flex;
  justify-content: space-between;
}
.container .create-item-area .value-and-amount div {
  display: flex;
  flex-direction: column;
  width: 47%;
  margin: 0 0 10px 0;
  padding: 0;
}
.container .create-item-area .add-and-edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .create-item-area .add-and-edit .add {
  width: 100%;
  margin: 5px 0;
  padding: 2px;
}
.container .create-item-area .add-and-edit .edit, .container .create-item-area .add-and-edit .cancel {
  width: 47%;
  margin: 5px 0;
  padding: 2px;
}
.container .search-and-list {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.search-bar .inputSearch {
  width: 90%;
}

.container-list {
  width: 100%;
}
.container-list .labels {
  display: flex;
  padding: 0 2px;
  box-shadow: 0px 0px 2px black;
  border-bottom: none;
  border-radius: 2px;
}
.container-list .labels .labelName, .container-list .labels .labelQt, .container-list .labels .labelValue, .container-list .labels .labelEdit, .container-list .labels .labelDelete {
  font-size: 10px;
  padding: 1px;
  border-right: 1px solid rgba(0, 0, 0, 0.3450980392);
}
.container-list .labels .labelName {
  width: 30%;
}
.container-list .labels .labelQt {
  width: 20%;
}
.container-list .labels .labelValue {
  width: 25%;
}
.container-list .labels .labelEdit {
  width: 12.5%;
}
.container-list .labels .labelDelete {
  width: 12.5%;
  border: none;
}
.container-list .list {
  display: flex;
  flex-direction: column;
  height: 195px;
  margin: 5px 0;
  padding: 2px 2px;
  background-color: #dadada;
  box-shadow: 0px 0px 2px black;
  overflow-y: auto;
  white-space: nowrap;
}
.container-list .list::-webkit-scrollbar {
  width: 5px;
}
.container-list .list::-webkit-scrollbar-thumb {
  background-color: #ceccee;
}
.container-list .list .liItem {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  margin: 5px 0;
  padding: 2px 0;
  background-color: white;
  transition: all 1s;
}
.container-list .list .liItem .div-name {
  display: flex;
  align-items: center;
  width: 30%;
  height: 16px;
  margin: 0 7px;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.container-list .list .liItem .div-name::-webkit-scrollbar {
  height: 2px;
}
.container-list .list .liItem .div-name::-webkit-scrollbar-thumb {
  background-color: #ceccee;
}
.container-list .list .liItem .div-qt {
  width: 20%;
  font-size: 13px;
}
.container-list .list .liItem .div-container-value {
  display: flex;
  align-items: center;
  width: 25%;
  height: 25px;
  margin: 0;
  padding: 0;
}
.container-list .list .liItem .div-container-value .div-money {
  margin-right: 1px;
  font-size: 13px;
}
.container-list .list .liItem .div-container-value .div-value {
  display: flex;
  align-items: center;
  width: 60%;
  height: 16px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.container-list .list .liItem .div-container-value .div-value::-webkit-scrollbar {
  height: 2px;
}
.container-list .list .liItem .div-container-value .div-value::-webkit-scrollbar-thumb {
  background-color: #ceccee;
}
.container-list .list .liItem .div-buttons {
  display: flex;
  width: 25%;
}
.container-list .list .liItem .div-buttons button {
  width: 40%;
  height: 20px;
  margin: 0;
  padding: 0 2px;
  font-size: 10px;
}
.container-list .list .liItem .div-buttons .editar {
  margin-right: 15%;
}
.container-list .list .liItem .div-buttons .apagar {
  width: 40%;
}

.total-value {
  padding: 5px 5px;
  box-shadow: 0px 0px 2px black;
  border-top: none;
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
